@using Agenda_B.ViewModels
@model Login

@{
    ViewData["Title"] = "Iniciar Sesion";
}



<p class="text-danger">@ViewBag.Mensaje</p>

<div class="container border bg-light">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row col-10 form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="row col-10 form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row col-4 offset-8 form-group">
            <input type="submit" value="Iniciar Sesion" class="btn btn-outline-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



