@model Agenda_B.Models.Profesional

@{
    ViewData["Title"] = "Edit";
}

<div class="container border bg-light">
    <form asp-action="Edit">
        <h6>Profesional</h6>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-4 form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group">
                <label asp-for="PrestacionId" class="control-label"></label>
                <select asp-for="PrestacionId" class="form-control" asp-items="ViewBag.PrestacionId"></select>
                <span asp-validation-for="PrestacionId" class="text-danger"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="col-4 form-group">
                <label asp-for="HoraFin" class="control-label"></label>
                <input asp-for="HoraFin" class="form-control" />
                <span asp-validation-for="HoraFin" class="text-danger"></span>
            </div>
        </div>
        <div class="row col-4 offset-8 form-group">
            <input type="submit" value="Guardar" class="btn btn-outline-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Regresar a Profesionales</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
