@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4  text-center">Centro Médico</h1>
<div class="redMedica p-3">
    <div class="justify-content-center">
                
            <div class="row justify-content-center p-3">
                <div class="col mx-auto  text-center">
                    <div class="imagenInfo">
                        <img src="./img/atencion_telefonica.png">
                    </div>
                    <div class="textoInfo">
                        <p class="font-weight-bold">Callcenter</p>
                        <p class="pBold">(011)4901-2500</p>
                    </div>
                </div>
                <div class="col mx-auto  text-center">
                    <div class="imagenInfo">
                        <img src="./img/urgencias_y_emergencias.png">
                    </div>
                    <div class="textoInfo">
                        <p class="font-weight-bold">Urgencias</p>
                        <p class="pBold">(011)4901-0100</p>
                    </div>
                   
                </div>
            </div>            
        
    </div>
</div>

<div class="text-center">


    <div id="bg">

        <img src="./img/at1018_gestion_agenda_702-702x336.jpg" class="mt-xl-5 p-xl-4" alt="turnos" width="702" height="336">

    </div>
</div>
