@{
    ViewData["Title"] = "Nosotros";
}



<div class="tab-content tabs-servicios" id="" style="margin-bottom: 20px;">
   
        <div class="col-10">
            <h4 style="text-align:justify;">
                <strong>
                    <span style="color:#003366;">Sobre nuestro Centro de Salud</span>
                </strong>
            </h4>
            <p style="text-align:justify;">
                <span style="font-size:12.0pt;">&nbsp;</span>
            </p>
            <p style="text-align:justify;">
                <span style="font-size:12.0pt;">El Centro Médico de Buenos Aires es una asociación civil sin fines de lucro que tiene como objetivo brindar a la comunidad atención en salud de alta complejidad, formar profesionales médicos de excelencia y desarrollar conocimiento científico de vanguardia para el país y el mundo.</span>
            </p>
            <p style="text-align:justify;">
                <span style="font-size:12.0pt;">Fundado en 1975, y abierto a toda la población, celebró durante el 2015 su <strong>40° Aniversario</strong> con un firme compromiso por sus valores y mirada hacia el futuro. </span>
            </p>
            <p style="text-align:justify;">
                <span style="font-size:12.0pt;">Nos enfocamos en el <strong>avance y el progreso</strong>, concentrados en mantener la calidad de nuestro servicio y profesionales. Hacemos hincapié en los sectores que consideramos sumamente importantes, manteniendo el equilibrio entre calidad y efectividad.</span>
            </p>
        
            <p style="text-align:justify;"><br></p>
            <div style="text-align:justify;">
                <p>
                    <img class="img-thumbnail" alt="" height="401" src="https://www.castillalamancha.es/sites/default/files/styles/colorbox/public/documentos/fotografias/20130212/20110428_sescam_cs20malagon_1.jpg" style="display:block;margin-left:auto;margin-right:auto;" width="600">
                </p>
                <div class="panel panel-default" style="margin-bottom:5px;">
                </div>
            </div>
        </div>
    </div>



